requirements.txt
imprt.py
AI_PCB Defect Detection and Classification Application.pdf
Dataset paper.pdf
Digital Image Processing (4th edition, Global edition) (Rafael C. Gonzalez, Richard E. Woods) (Z-Library).pdf
Fundamentals of Digital Image Processing (Anil K. Jain) (Z-Library).pdf
PCB_DATASET
ok